<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>User info</h2>
      <div id="error_explanation"><!--ﾊﾞﾘﾃﾞｰｼｮﾝｴﾗｰ-->

          <% if @user.errors.any? %><!--ﾊﾞﾘﾃﾞｰｼｮｴﾗｰなら-->
            <h3>
              <%= @user.errors.count %>error prohibited this obj from being saved:
            </h3>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
      </div><!--ﾊﾞﾘﾃﾞｰｼｮﾝｴﾗｰ終了-->


<%= form_with model: @user do |f| %>
  <div class= "form-group"><!--nameのグループ-->
    <div class="field_with_errors"><!--Nameタグ-->
      <label for= "user_name">
        Name
      </label>
    </div><!--Nameタグ終了-->

    <div class="field_with_errors"><!--Name入力ﾌｫｰﾑ-->
        <%= f.text_field :name, class:"form-control name" %>
    </div><!--Name入力フォーム終了-->
  </div><!--nameのｸﾞﾙｰﾌﾟ終了-->

  <div class= "form-group"><!--imageグループ-->
    <div>
      <label for="user_image">
        Image
      </label>
    </div>
      <%= f.file_field :profile_image, class:"form-control-file-user_image", accept: "image/*" %>
  </div><!--imageグループ終了-->

   <div class= "form-group"><!--titleグループ-->
    <label for= "user_introduction">Introduction</label>
    <%= f.text_area :introduction,class:"form-control introduction" %>
  </div><!--titleグループ終了-->

  <div class = "form-group">
    <%= f.submit 'Update User', class: "btn btn-secondary" %>
  </div>
<% end %>
    </div><!--col終了-->
  </div><!--row終了-->
</div><!--container終了-->