<h2>User info</h2>
<%= image_tag user.get_profile_image %><!--user→@user-->

<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th><!--user→@user-->
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th><!--user→@user-->
    </tr>
  </tbody>
</table>

<%= link_to "edit", edit_user_path(user.id) %><!--user→@user-->




<h2>New book</h2>
  <!--ﾊﾞﾘﾃﾞｰｼｮﾝｴﾗｰ-->
  <% if book.errors.any? %><!--保存する時ﾃﾞｰﾀの存在なければ--><!--book→@book-->
    <%= book.errors.count %>error Please fill in the blanks<!--book→@book-->
    <ul>
      <%= book.errors.full_messages.each do |message| %><!--book→@book-->
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <!--投稿ﾌｫｰﾑ-->
  <%= form_with model: book do |f| %><!--book→@book-->
    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Opinion</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>
  <% end %>
