
<%= render 'list', {book: @book_n, user: @user} %><!--部分テンプレ-->


<h2>Book detail</h2>

<table>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@book.user.id) do %>
          <%= image_tag @book.user.get_profile_image %>
        <% end %>
          <br>
        <%= link_to @book.user.name, user_path(current_user.id) %><!--ｱｸｼｮﾝで特定IDのデータ取得.userﾓﾃﾞﾙからその投稿者name取得-->
      </td>
      <td><%= link_to @book.title, book_path(@book.id) %></td>
      <td><%= @book.body %></td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
        <% end %>
      </td>
      <td>
        <% if @book.user == current_user %>
          <%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>