<div><%= flash[:notice] %></div><!--ﾌﾗｯｼｭﾒｯｾｰｼﾞ->

<%= render 'list', books: @book %><!--部分テンプレ-->

<h2>Book detail</h2>

<table>
  <tbody>
    <tr>
      <td>
        画像<br>
        <%= @book.user.name %><!--後程userの詳細ページへのﾘﾝｸにする-->
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"} %></td>
    </tr>
  </tbody>
</table>