<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><!--ﾍｯﾀﾞｰ背景-->
        <div class="container"><!--header大枠-->
          <!--ﾛｸﾞｲﾝ関係なく表示するbookersリンク-->
          <a class="navbar-brand"href=/>
            <span>Bookers</span>
          </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" ara-controls="navbarNavDropdown" aria=expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <!--<!--ログイン済ならば(bookersより横の塊)-->
            <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarNavDropdown"><!--ﾄﾞﾛｯﾌﾟﾀﾞｳﾝと上のｺﾗﾌﾟｽ繋がってる-->
              <ul class="navbar-nav ml-auto"><!--navbarのﾅﾋﾞはmargin,leftがautoになっているつまり右寄せ-->
                <li><!--user,showへのリンク-->
                  <%= link_to  user_path(current_user.id), class:"nav-link text-light" do %>
                    <i class="fas fa-home"></i>
                      Home
                  <% end %>
                </li>
                <li><!--Usersへのリンク-->
                  <%= link_to users_path, class:"nav-link text-light", class:"nav-link text-light" do %>
                    <i class="fas fa-users"></i>
                      Users
                  <% end %>
                </li>
                <li><!--Booksへのリンク-->
                  <%= link_to books_path, class:"nav-link text-light" do %>
                    <i class="fas fa-book-open"></i>
                      Books
                  <% end %>
                </li>
                <li><!--ﾛｸﾞｱｳﾄのリンク-->
                  <%= link_to destroy_user_session_path, class:"nav-link text-light", method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i>
                      Log out
                  <% end %>
                </li>
              </ul>
            </div><!--collapse-->
          <% else %><!--ログインしてない場合-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown"><!--ﾄﾞﾛｯﾌﾟﾀﾞｳﾝと上のｺﾗﾌﾟｽ繋がってる-->
              <ul class="navbar-nav ml-auto"><!--navbarのﾅﾋﾞはmargin,leftがautoになっているつまり右寄せ-->
            <li><!--HOmeへのリンク-->
              <%= link_to root_path, class:"nav-link text-light" do %>
                <i class="fas fa-home"></i>
                  Home
              <% end %>
            </li>
            <li><!--Aboutへのリンク-->
              <%= link_to about_path, class:"nav-link text-light" do %>
                <i class="fas fa-link"></i>
                  About
              <% end %>
            </li>
            <li><!--ﾕｰｻﾞｰ登録へのリンク-->
              <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                <i class="fas fa-user-plus"></i>
                  Sign up
              <% end %>
            </li>
            <li>
              <%= link_to user_session_path, class:"nav-link text-light" do %>
                <i class="fas fa-sign-in-alt"></i>
                  Log in
              <% end %>
            </li>
          <% end %><!--if文のend-->
            </ul>
          </div><!--collapse-->
        </div><!--container-->
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="container mt-5"><!--margin-top 3rem-->
        <div class="row">
          <div class="mx-auto"><!--左右のmargin auto-->
            <p>CopyRight Infratop.inc</p></footer>
          </div><!--mx-auto終了-->
        </div><!--row終了-->
      </div><!--container終了-->
  </body>
</html>
