<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <a href=/>Bookers</a>
        <li><!--Homeへのリンク-->
          <%= link_to "Home", root_path %>
        </li>
        <li><!--Userへのリンク-->
          Usersﾍﾟｰｼﾞﾘﾝｸ後程
        </li>
        <li><!--Booksへのリンク-->
          Booksﾍﾟｰｼﾞﾘﾝｸ後程
        </li>
        <li><!--ﾛｸﾞｱｳﾄのリンク-->
          <%= link_to "Log out",destroy_user_session_path, method: :delete %>
        </li>
      <% else %><!--ログインしてない場合-->
         <a href=/>Bookers</a>
        <li><!--HOmeへのリンク-->
          <%= link_to "Home", root_path %>
        </li>
        <li><!--Aboutへのリンク-->
          Aboutﾍﾟｰｼﾞﾘﾝｸ後程
        </li>
        <li><!--ﾕｰｻﾞｰ登録へのリンク-->
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in",user_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
